<template>
  <div v-if="hasErrors(this.name,this.errors)" class="error-message">
    <slot name="content" :error="text">
      <span class="error-line" v-bind:style="{color:errorTextColor }" v-html="text"></span>
    </slot>
  </div>
</template>

<script>
import f from '../formValidationParsingMixin'

export default {
  mixins: [f],
  mounted () {
    console.log('Error Component mounted.')

    if (this.options && this.options.color != null) {
      this.errorTextColor = this.options.color
    }

  },
  computed: {
    text () {
      return this.errorsInline(this.name, this.errors)
    }
  },
  methods: {
    hasErrors (key, errors) {
      return (key in errors)
    },

    errorsInline (key, errors) {
      // var exampleErrors = {"message":"The given data was invalid.","errors":{"name":["The name must be a string."],"email":["The email must be a valid email address."],"password":["The password field is required."],"storeName":["The store name field is required."]}};
      return errors[key].join('<br>')
    }
  },
  props: {
    options: {
      color: null
    },
    errors: null,
    name: null
  },
  data () {
    return {
      errorTextColor: 'red'
    }
  }
}
</script>
